<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_tenant.css') }}">
    
</head>
<body>
    <button onclick="location.href='/dashboard'">Back</button>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <h2 class = center-text >Add Tenant</h2>
    <form method="POST">
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="contact_info" placeholder="Contact Number" required>

        <label for="lease_start">lease_start</label>
        <input type="date" id="lease_start" name="lease_start" required>
        
        <label for="lease_end">Lease End</label>
        <input type="date" id="lease_end" name="lease_end" required>
        <p>Status:</p>
        <div class="status-container">
            <input type="radio" id="paid" name="status" value="Paid" required>
            <label for="paid">Paid</label>
            <input type="radio" id="unpaid" name="status" value="Unpaid">
            <label for="unpaid">Unpaid</label>
        </div>

        <button type="submit">Add Tenant</button>
    </form>
    <form method="POST" style="margin-top: 20px;">
        <h2>Search Tenants</h2>
        <input type="text" name="search" placeholder="Search by name" value="{{ search_query }}">
        <button type="submit">Search</button>
    </form>
    
    <br>
    <h1>Tenants Information</h1>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Contanct Number</th>
                <th>Lease Start</th>
                <th>Lease End</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% set index = 1 %}
            {% for tenant in tenants %}
            <tr>
                <td>{{ index }}</td>
                <td>{{ tenant[2] }}</td>
                <td>{{ tenant[3] }}</td>
                <td>{{ tenant[4] }}</td>
                <td>{{ tenant[5] }}</td>
                <td>
                    <form action="{{ url_for('update_tenant', tenant_id=tenant[0]) }}" method="GET" style="display:inline;">
                        <button type="submit" class="b2">Update</button>
                    </form>
                
                    <form action="{{ url_for('delete_tenant', tenant_id=tenant[0]) }}" method="POST" style="display:inline;">
                        <button type="submit" class="b1">Delete</button>
                    </form>
                </td>
            </tr>
            {% set index = index + 1 %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>