
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Lists Example</title>
</head>
<body>
    <h1>HTML Lists</h1>

    <!-- Unordered List -->
    <h2>Unordered List:</h2>
    <ul>
        <li>
            <a href="/add_tenant">Tenant Management</a>
        </li>
        <li>
            <a href="/add_room">Room Management</a>
        </li>
        <li>
            <a href="/tenant_payment">Payment Management</a>
        </li>
        <li>
            <a href="/logout">Log Out</a>
        </li>
    </ul>
</body>
</html>